[Unit]
Description=Socket activation consumer service
Requires=mqueue-consumer.socket
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sa-consumer
Environment="STREAM=foo"
Environment="GROUP=2"
Environment="TIMEOUT=30"
StandardOutput=journal
StandardError=journal
Restart=on-failure
#RemainAfterExit=yes

[Install]
WantedBy=multi-user.target